<section id="cover" class="min-vh-100">
	<div id="cover-caption">
		<div class="container">
			<div class="row">
				<div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto p-4">
					<div class="row align-items-center">
						<div class="col"></div>
						<div class="mx-auto">
							<img src="{{ rutaImagenLogo }}" alt="SCD" width="250" height="150" />
						</div>
						<div class="col"></div>
					</div>
				</div>
			</div>

			<br />

			<div class="row text-white">
				<br />

				<div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto form p-4">
					<div class="px-2">
						<form [formGroup]="formLogin" (ngSubmit)="enviarFormulario()" class="justify-content-center">
							<div class="form-group has-danger">
								<label class="form-control-label" for="username">Nombre de Usuario</label>

								<div class="input-group mb-2">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<fa-icon style="color: tomato" [icon]="faUser"></fa-icon>
										</div>
									</div>
									<input
										type="text"
										uppercase
										autofocus
										formControlName="username"
										class="form-control"
										placeholder="Ingresar nombre de usuario"
										[ngClass]="{ 'is-invalid': f.username.errors && f.username.touched }"
									/>
								</div>

								<div *ngIf="f.username.errors && f.username.touched" class="invalid-feedback" style="display: block; font-size: 100% !important">
									<div *ngIf="f.username.errors.required">El nombre de usuario es un campo requerido</div>
								</div>
							</div>

							<div class="form-group has-danger">
								<label class="form-control-label" for="password">Contraseña</label>

								<div class="input-group mb-2">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<fa-icon style="color: tomato" [icon]="faLock"></fa-icon>
										</div>
									</div>
									<input type="password" formControlName="password" class="form-control" placeholder="Ingresar contraseña" [ngClass]="{ 'is-invalid': f.password.errors && f.password.touched }" />
								</div>

								<div *ngIf="f.password.errors && f.password.touched" class="invalid-feedback" style="display: block; font-size: 100% !important">
									<div *ngIf="f.password.errors.required">La contraseña es un campo requerido</div>
									<div *ngIf="f.password.errors.minlength">La contraseña debe contener al menos 4 caracteres</div>
									<div *ngIf="f.password.errors.noPuedeContenerEspacios">La contraseña no puede contener espacios</div>
								</div>
							</div>

							<div class="row">
								<div class="col-6">
									<div class="my-1">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="recordarSesion" />
											<label class="custom-control-label" for="recordarSesion">Recordar sesión</label>
										</div>
									</div>
								</div>

								<div class="col-6">
									<div class="my-1 text-right">
										<a routerLink="'inicio-sesion'">¿Olvidaste tu Contraseña?</a>
									</div>
								</div>
							</div>

							<br />

							<div class="row">
								<div class="col text-center">
									<ngx-recaptcha2 style="display: inline-block" [siteKey]="siteKey" [theme]="theme" formControlName="recaptcha"></ngx-recaptcha2>
								</div>
							</div>

							<hr />

							<button type="submit" [disabled]="formLogin.invalid" class="btn btn-primary btn-block">Acceder al Sistema</button>
						</form>
					</div>

					<br />

					<app-alert></app-alert>

					<br />

					<div class="text-center">
						<a style="cursor: pointer" (click)="abrirModal()">
							<fa-icon style="color: tomato" [icon]="faCheckDouble" size="4x"></fa-icon>

							<br />

							<div class="align-bottom"><strong>Verificar Certificado</strong></div>
						</a>
					</div>

					<br />

					<div class="copy-text">
						<div class="col-md-12 text-center align-self-end">{{ tituloPiePagina }} &copy; 2020</div>
					</div>
				</div>

				<br />
			</div>
		</div>
	</div>
</section>
